body {
  --btn: #666;
  --highlight: #333;
  --nav-height: 40px;

  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
}

.nav {
  box-sizing: border-box;
  height: var(--nav-height);
  padding: 0 12px;
  background-color: var(--bg);
  box-shadow: 0 0 4px #00000054;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.nav .input {
  outline: none;
  border: none;
  flex: 1;
  /* width: calc(100% - 100px); */
  font-size: 20px;
}

.nav .links {
  display: flex;
}

.nav .links > * {
  display: flex;
  align-items: center;
}

.nav .links > * + * {
  margin-left: 4px;
}

.nav .links button {
  padding: 1px 6px;
  color: var(--btn);
}

.nav .links button:hover {
  color: var(--highlight);
}

.bytemd {
  height: calc(100vh - 40px);
}

.bytemd .bytemd-editor .CodeMirror .CodeMirror-lines,
.bytemd .bytemd-preview .markdown-body {
  max-width: none;
}

.bytemd
  .bytemd-toolbar-icon.bytemd-tippy.bytemd-tippy-right[bytemd-tippy-path="4"],
.bytemd
  .bytemd-toolbar-icon.bytemd-tippy.bytemd-tippy-right[bytemd-tippy-path="5"] {
  display: none;
}

.bytemd .bytemd-editor .CodeMirror pre.CodeMirror-line,
.bytemd .bytemd-editor .CodeMirror pre.CodeMirror-line-like {
  padding: 0 16px;
}

.bytemd .bytemd-preview .markdown-body {
  margin: 0 auto;
  padding: 16px;
  min-height: 100%;

  background-image: linear-gradient(
      90deg,
      rgba(50, 0, 0, 0.07) 3%,
      transparent 0
    ),
    linear-gradient(1turn, rgba(50, 0, 0, 0.07) 3%, transparent 0);
  background-size: 16px 16px;
  /* background-position: 50%; */
}

.clipboard-container {
  position: relative;
}

.clipboard-container .action-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  cursor: pointer;
  margin: 8px;
  border: 1px solid #d1d9e0;
  border-radius: 6px;
  background-color: #f6f8fa;
  box-shadow: 0px 1px 0px 0px #1f23280a;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}

.clipboard-container .action-container:hover {
  background-color: #eff2f5;
  border-color: #d1d9e0;
  transition-duration: 0.1s;
}

.action-container .action-icon {
  margin: 8px;

  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}